html {
  font-size: 100%;
}
body {
  margin: 0;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
}
.background {
  display: block;
  width: 100%;
}
.container {
  position: relative;
}
.loading {
  display: flex;
  height: 10%;
  width: 55%;
  position: absolute;
  bottom: 3%;
  right: 4%;
}
.animation:nth-child(1) {
  animation-delay: 0s;
}
.animation:nth-child(2) {
  animation-delay: -0.08s;
}
.animation:nth-child(3) {
  animation-delay: -0.16s;
  margin-right: 9%;
}
.animation:nth-child(4) {
  animation-delay: -0.24s;
}
.animation:nth-child(5) {
  animation-delay: -0.32s;
}
.animation:nth-child(6) {
  animation-delay: -0.04s;
}
.animation:nth-child(7) {
  animation-delay: -0.48s;
}
.animation:nth-child(8) {
  animation-delay: -0.56s;
}
.animation:nth-child(9) {
  animation-delay: -0.64s;
}
.animation:nth-child(10) {
  animation-delay: -0.72s;
}
.loading img {
  width: 90%;
  height: 87%;
  margin-right: 20%;
}
.animation {
  animation:loading  1s cubic-bezier(0.57, 0.06, 0.37, 1.09) infinite
}
@keyframes loading {
  0%,
  50%,
  100%{
    transform: translateY(0%);
  }
  25%,
  75%{
    transform: translateY(-20%);
  }
}


